
body{
    margin-left: 20px;
    margin-top: 5px;
    height: 100vh;
    background-color: rgba(139, 195, 244, 0.3);
    font-size: 45px;
    font-family: 'Lato', sans-serif;

}
.game{
    display: grid;
    grid-template-columns: 50% 50%;
}
.leftSide {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.rightSide {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.square{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
     border-top: 1px solid grey; 
     border-right: 1px solid grey;
     font-size: 50px;
     font-weight: bold;
     cursor: pointer;
}
.noPointer{
    cursor: default;
}

.leftColumn{
    border-left: 1px solid grey; 
}
.bottomRow{
    border-bottom: 1px solid grey;
}

.board{
    display: grid;
    grid-template-columns: 175px 175px 175px;
    grid-template-rows: 175px 175px 175px;
    margin-top:8px;
	/* grid-gap: 0.5px; */
}

.restartButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: auto;
    outline: none;
    height: 75px;
    margin-top: 40px;
    padding: 25px;
    border-radius: 10px;
    font-size: 25px;
    font-weight: 700;
    color: rgb(235, 171, 171);
    background: rgb(22, 17, 17);
    border: 1px solid rgb(22, 17, 17);
    box-shadow: 1px 0.8px rgb(235, 171, 171);
    cursor: pointer;
}
.restartButton:hover{
color: rgb(22, 17, 17);
background:rgb(235, 171, 171);
box-shadow: none;
border: 1px solid rgb(22, 17, 17);
transition: 0.8s
}
.zenContainer{
    width: 525px;;
    
}
.zenQuoteAnnouncement{
    margin: 40px 0 5px 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.zenQuoteWindow{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    height: 75px;
    background-color: #f9f4f4;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
}


.gameHistoryButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 7px;
    margin-top: 7px;
    width: auto;
    outline: none;
    padding: 18px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(235, 171, 171);
    background: rgb(22, 17, 17);
    border: 1px solid rgb(22, 17, 17);
    box-shadow: 0 5px rgb(235, 171, 171);
    cursor: pointer;
    position: relative; /* to move the buttons down */
    text-transform: uppercase;  
}
.gameHistoryButton:hover{
    top:1px;
    box-shadow: 0 3px rgb(235, 171, 171);
}
.gameHistoryButton:active{
    box-shadow: none;
    top: 2.2px;
}

